$footer-height: 60px;

.footer {
  width: 100%;
  margin-top: 3em;
  padding: 1.5em 0;
  background-color: black;
  color: white;
  font-size: $font-size-small;

  a, a:hover, a:active, a:link, a:visited {
    color: white;
    text-decoration: underline;
  }

  .footer-center {
    text-align: center;
  }

  .footer-right {
    text-align: right;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height * 1.5;
}
.footer {
  position: absolute;
  bottom: 0;
  height: $footer-height;
}