.list-tenures {
  @extend .list-unstyled;
}
.tenure-date-block {
  @extend .pull-right;
  @extend .text-right;
}
.tenure-dates {
  font-style: italic;
}
.tenure-duration, .tenure-title {
  font-weight: bold;
}
.tenure-notes {
  font-weight: normal;
}
.tenure-duration, .tenure-title, .tenure-category {
  font-size: 1.2em;
}