/* icons */
.fa {
  font-family: FontAwesome;
  font-style: normal;
}

.fa-chevron-up-down:before {
  content: "\f077"; // fa-chevron-up when expanded
}
.collapsed > .fa-chevron-up-down:before {
  content: "\f078"; // fa-chevron-down when collapsed
}

.fa-external-link, .fa-file-pdf-o {
  color: $gray !important;
  font-size: 0.75em !important;
  padding-left: 0.4em;
}
.fa-file-pdf-o {
  position: relative;
  top: -0.17em;
}