/* icons */
.fa {
  font-family: FontAwesome;
  font-style: normal;
}
.fa-plus-minus-circle:before {
  content: "\f056"; // fa-minus-circle when expanded
}
.collapsed > .fa-plus-minus-circle:before {
  content: "\f055"; // fa-plus-circle when collapsed
}

.fa-chevron-down-right:before {
  content: "\f078"; // fa-chevron-down when expanded
}
.collapsed > .fa-chevron-down-right:before {
  content: "\f054"; // fa-chevron-right when collapsed
}

.fa-chevron-circle-down-right:before {
  content: "\f13a"; // fa-chevron-circle-down when expanded
}
.collapsed > .fa-chevron-circle-down-right:before {
  content: "\f158"; // fa-chevron-circle-right when collapsed
}
.panel-body {
  .fa-ul {
    margin-left: 0;

    li {
      margin-bottom: 0.5em;
    }
  }
}