$offcanvas-mobile-width: 95% !default;
$offcanvas-transition: all .25s ease-out;
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: $screen-sm) {
  .row-offcanvas {
    position: relative;
    @include transition($offcanvas-transition);
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -$offcanvas-mobile-width;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -$offcanvas-mobile-width;
  }

  .row-offcanvas-right.active {
    right: $offcanvas-mobile-width;
  }

  .row-offcanvas-left.active {
    left: $offcanvas-mobile-width;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: $offcanvas-mobile-width;
  }
}

.btn-offcanvas {
  margin-top: -2em;
  padding: 0.5em;
  padding-top: 1.75em;

  &:focus {
    border-width: 0;
    outline: none;
  }
  &:before {
    content: 'Show ';
  }
}

.row-offcanvas.active .btn-offcanvas {
  @include transition($offcanvas-transition);
  @include rotate(-90deg);
  margin-top: 2em;
  padding-top: 2.75em;

  &:before {
    content: 'Hide ';
  }
}