.sidebar {
  .panel-group {
    border-radius: $border-radius-base;
  }
  .panel-group, .panel-heading {
    border: 1px solid #f0f0f0; // lighten($brand-primary, $brand-primary-max-lighten - 3);
  }
  .panel-heading {
    border-radius: 0;
    padding: 4px;
    font-size: $font-size-h5;
    background-color: #f5f5f5; // lighten($brand-primary, $brand-primary-max-lighten);

    .fa {
      font-size: 0.7em;
      margin: 0 5px;
      vertical-align: 0.15em;
    }
  }
  .panel-body {
    padding: 8px;
    padding-left: 32px;

    ul {
      @extend .list-unstyled;
      margin-bottom: 0;
    }
  }
}