/* padding */

.padding-both-large {
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
}

.padding-all-small {
  padding: $padding-small-vertical $padding-small-horizontal;
}

.bg-success, .bg-warning, .bg-danger {
  color: #fff;
}

figcaption {
  font-style: italic;
}

abbr[title], acronym[title], abbr[data-original-title] {
    border-bottom: 1px dotted $gray-light;
    text-decoration: none;
}
