RewriteEngine On

RewriteRule ^experience/$ index.php?tenure-type=experience [L]
RewriteRule ^education/$ index.php?tenure-type=education [L]

RewriteRule ^([^(index\.php|/)]+)/$ tenure.php?slug=$1 [L]
